.btn,
.btn:link,
.btn:visited {
    border: none;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: inherit;

    border-radius: 20px;
    padding: 1.6rem 3.2rem;
    background-color: #0b7285;
    color: #fff !important;
    font-weight: 700;

    transition: all 0.3s;
}

.btn:hover,
.btn:active {
    background-color: #0c8599;
}
