.box {
    min-width: 30rem;
    max-width: 48rem;
    width: 90%;
    background-color: #fff;
    border-radius: 20px;
    padding: 6.4rem;
    position: relative;
}

.title {
    font-weight: 900;
    color: #15aabf;
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
}

.text {
    gap: 1.6rem;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5;
    color: #2c2c2c;
    margin-bottom: 2.4rem;
}

.btnContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}

.btn {
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
}
