.game {
    display: inline-block;
    background-color: #4abdcd;
    padding: 0.8rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.5s;
}

.game:hover {
    background-color: #368c97;
}
