.optionBox {
    padding: 3.2rem 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    cursor: pointer;
    transition: transform 0.3s;
    clear: left;
    z-index: 1;
    position: relative;
}

.optionBox:hover {
    transform: scale(1.06);
    z-index: 10;
}

.optionBoxPic {
    font-size: 4.8rem;
}

.optionBoxTitle {
    font-size: 1.8rem;
    font-weight: 800;
    color: #006172;
}
