.optionBox {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.optionBox:hover {
    transform: scale(1.05);
}

.optionBoxPic {
    font-size: 48px;
}

.optionBoxTitle {
    font-size: 20px;
    font-weight: 400;
}