.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    min-width: 300px;
    max-width: 750px;
    width: 90%;
    background-color: #fff;
    border-radius: 20px;
    padding: 32px 64px 64px;
}

.header {
    font-family: Poppins, sans-serif;
    font-size: 6.4rem;
    color: #15AABF;
    font-weight: 700;
    position: relative;
}

.optionsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 16px;
}

.dark {
    background-color: #99E9F2;
}

.mid {
    background-color: #C5F6FA;
}

.light {
    background-color: #E3FAFC;
}