.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    min-width: 300px;
    max-width: 540px;
    width: 90%;
    background-color: #fff;
    border-radius: 20px;
    padding: 32px 64px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header {
    font-family: Poppins, sans-serif;
    font-size: 4.2rem;
    color: #15aabf;
    font-weight: 700;
    position: relative;
    line-height: 1;
    margin-bottom: 8px;
}

.pic {
    font-size: 120px;
}

.desc {
    font-size: 2.4rem;
    margin-bottom: 8px;
}

.ans {
    color: #15aabf;
    font-weight: 700;
}

.results {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    font-size: 1.6rem;
}

.tries {
    color: #15aabf;
    font-weight: 900;
}

.hints {
    color: #f03e3e;
    font-weight: 900;
}

.none {
    display: none;
}

.btn {
    position: absolute;
    width: 48px;
    height: 48px;
    font-size: 48px;
    cursor: pointer;
    color: #15aabf;
    transition: all 0.3s;
}

.btn:hover {
    color: #006172;
}

.closeBtn {
    position: absolute;
    width: 48px;
    height: 48px;
    font-size: 48px;
    cursor: pointer;
    color: #15aabf;
    transition: all 0.3s;
    right: 8px;
    top: 6px;
}

.closeBtn:hover {
    color: #006172;
}
