.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    min-width: 30rem;
    max-width: 90rem;
    max-height: 95vh;
    overflow-y: scroll;
    width: 90%;
    background-color: #fff;
    border-radius: 20px;
    padding: 3.2rem 6.4rem 4.8rem;
    position: relative;
}

.btn {
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;
    font-size: 4.8rem;
    cursor: pointer;
    color: #15aabf;
    transition: all 0.3s;
}

.btn:hover {
    color: #006172;
}

.closeBtn {
    right: 0.8rem;
    top: 0.6rem;
}

.backBtn {
    left: 1.6rem;
    top: 0.6rem;
}
