.header {
    font-size: 4.8rem;
    color: #15aabf;
    font-weight: 900;
    position: relative;
    letter-spacing: -2px;
}

.feedbackBox {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5;
    color: #2c2c2c;
    text-align: left;
    margin-top: 2rem;
}

.link {
    color: #15aabf;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s;
}

.link:hover {
    color: #006172;
}
