.header {
    font-size: 4.8rem;
    color: #15aabf;
    font-weight: 900;
    position: relative;
    letter-spacing: -2px;
}

.howToPlayBox {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5;
    color: #2c2c2c;
    text-align: left;
    margin-top: 2rem;
}

.tipsHeader {
    font-weight: 900;
    color: #15aabf;
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
}

.word {
    color: #15aabf;
    font-weight: 600;
}

.tipsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
