.header {
    font-size: 6.4rem;
    color: #15aabf;
    font-weight: 900;
    position: relative;
}

.optionsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 16px;
}

.dark {
    background-color: #9cdbe4;
}

.mid {
    background-color: #bde7ed;
}

.light {
    background-color: #def3f6;
}
