.header {
    font-size: 4.8rem;
    color: #15aabf;
    font-weight: 900;
    position: relative;
    letter-spacing: -2px;
}

.optionsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.dark {
    background-color: #9cdbe4;
}

.mid {
    background-color: #bde7ed;
}

.light {
    background-color: #def3f6;
}

@media screen and (max-width: 768px) {
    .optionsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
