.inputContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.tries {
    text-align: left;
    font-weight: 800;
    font-size: 18px;
    color: #ffffff;
    margin-top: 12px;
}

.shake {
    animation: 1.2s ease-in-out 0s normal none infinite running
        trambling-animation;
}
@keyframes trambling-animation {
    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }
    10%,
    30% {
        transform: rotate(-1deg);
    }
    20%,
    40% {
        transform: rotate(1deg);
    }
}
