.inputContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.tries {
    text-align: left;
    font-weight: 700;
    font-size: 1.8rem;
    color: #ffffff;
    margin-top: 1.2rem;
}

.extraBold {
    font-weight: 900;
}

.shake {
    animation: 1.2s ease-in-out 0s normal none infinite running
        trambling-animation;
}
@keyframes trambling-animation {
    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }
    10%,
    30% {
        transform: rotate(-1deg);
    }
    20%,
    40% {
        transform: rotate(1deg);
    }
}
