.word {
    padding: 4px 20px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    color: #2c2c2c;
    text-align: left;
}

.word::first-letter {
    text-transform: capitalize;
}

.longWord {
    display: block;
    overflow-x: auto;
    padding: 8px 0;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.wordContainer {
    width: 100%;
}

.similarity {
    font-family: "Noto Sans";
    font-weight: 900;
    font-size: 24px;
    color: #ffffff;
}
